body {
    font-family: sans-serif;
    margin: 0;
    background: #fffdf5;
    color: #333;
}

header {
    background: #ff7f00;
    color: white;
    padding: 15px;
    text-align: center;
}

.dashboard {
    padding: 15px;
    background: #fff3db;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}

button {
    padding: 10px;
    background: #ff7f00;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
